<form id='myForm'>
    <input type='text' name="url">
    <input type="submit" value="Shorten">
</form>
<div id="shortcode"></div>

<br/>
<div>
<a href="<%= url('/') %>">&larr; See all</a>
</div>

<script type="text/javascript">
  $(function() {
    $('#myForm').submit(function() {
    $.post('/new', $("#myForm").serialize(), function(data){
      var $url = $('<a>', {href: data}).append(data);
      var $shortcode = $('<div>').append("Your Code:").append($url);
      $('#shortcode').append($shortcode.hide().fadeIn());
      });
    return false;
    });
  });
</script>
