<html>
<head>
  <title>Shortner</title>
  <script src="jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Shortner</h1>
  <%= yield %>
</body>
</html>